* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
    height: 100%;
}
body {
    padding: 1em;
    margin: 0;
    font-family: "Helvetica Neue", "Roboto Light", "Segoe UI Web Light", "Segoe UI Light", "Segoe UI Web Regular", "Segoe UI", Helvetica, Arial, sans-serif; 
    color: #777;
    background: #F2F2F2;
}
header {
    margin-bottom: 4em;
}
h1, h2, h3 {
    margin: 0;
    color: #555;
    text-rendering: optimizeLegibility;
}
h1 {
    font-size: 3.25em;
    margin: 0;
    font-weight: normal;
}
h2 {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: normal;
}
p, footer {
    margin: 1em 0 .5em;
}
footer {
    font-size: .8em;
    position: fixed;
    bottom: 1em;
    right: 1em;
}
.instruction {
    width: 40%;
    float: left;
}
.instruction > section {
    position: relative;
    padding-left: 100px;
    margin-bottom: 2em;
}
.instruction > section .fa:not(.fa-check-circle) {
    font-size: 64px;
    position: absolute;
    top: 30px;
}
.instruction > section .fa-android {
    left: 9px;
}
.instruction > section .fa-desktop {
    left: 0px;
}
.instruction ol {
    margin-left: 0;
    padding-left: 24px;
}
.demo {
    min-width: 500px;
    min-height: 400px;
    margin-right: 2em;
    float: left;
}
input[type=text], button {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #ddd;
    color: #333;
    font-size: 1em;
    padding: .7em 1em;
    margin-bottom: 1em;
    display: inline-block;
    min-width: 240px;
}

/* SVG */

.container {
    width: 300px; 
    margin: 0 auto;
    cursor: ns-resize;
}
.background {
    fill: #d8d8d8;
}  
.foreground {
    -webkit-transform: rotate(-154deg);
    -moz-transform: rotate(-154deg);
    transform: rotate(-154deg);
}
text.subtext {
    font-size: 16px;
    fill: #777;
}
text.degree {
    font-size: 90px;
}

/*!
 *  Font Awesome 4.2.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-android:before {
  content: "\f17b";
}
.fa-desktop:before {
  content: "\f108";
}
.fa-check-circle:before {
    content: "\f058";
    margin-left: 10px;
    font-size: 24px;
    color: #7FC7AF;
}


